<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>高性能金融计算平台</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/sidebar.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}{% endblock %}

    <script>
        {% block script %}{% endblock %}
    </script>
    {% block head %}{% endblock %}
</head>
<body>
<nav>
    <a href="/"><img src="/static/image/logo.gif" class="logo"></a>
    <p class="text-song-large nav-text">{% block header %}不应该显示这个{% endblock %}</p>
        <div class="collapse navbar-collapse">
        {% if user %}
        <div class="nav-div">
            <p class="nav-p">欢迎
                <a href="/user/{{ user.id }}" class="nav-link">{{ user.name }}</a>
                <a href="/logout" class="nav-link">退出</a>
                <button class="nav-button" data-toggle="modal" data-target="#modal">关于我们</button>
            </p>
        </div>
        {% else %}
        <div class="nav-div">
            <a href="/login" class="nav-link">登录</a>
            <a href="/register" class="nav-link">注册</a>
            <button class="nav-button" data-toggle="modal" data-target="#modal">关于我们</button>
        </div>
        {% endif %}
        <div class="modal fade" id="modal" role="dialog" aria-labelledby="modalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modalLabel">关于我们</h4>
                    </div>
                    <div class="modal-body">
                        我们是来自山东大学的一支队伍，由两位指导老师和七名大三学生组成。<br>
                        我们对设计和编程有着浓厚的兴趣，乐于看见一个软件作品从我们手里诞生。<br>
                        做实用、高效、友好的应用是我们的目标。<br>
                        希望正在使用的您能感到愉悦！<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="div-outer">
        {% if user %}
        <div class="div-left">
        {% block sidebar %}{% endblock %}
        </div>
        <div class="div-right">
        {% endif %}
        {% if err %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            <strong>{{ err }}</strong>
        </div>
        {% endif %}
        {% if info %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            <strong>{{ info }}</strong>
        </div>
        {% endif %}
        {% block content %}{% endblock %}
        {% if user %}
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>