<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>高性能金融计算平台</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/sidebar.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}{% endblock %}

    <script>
        {% block script %}{% endblock %}
    </script>
    {% block head %}{% endblock %}
</head>
<body>
<nav>
    <a href="/"><img src="/static/image/logo.gif" class="logo"></a>
    <p class="text-song-large nav-text">{% block header %}不应该显示这个{% endblock %}</p>
        <div class="collapse navbar-collapse">
        {% if user %}
        <div class="nav-div">
            <p class="nav-link">欢迎
                <a href="/user/{{ user.id }}" class="nav-link">{{ user.name }}</a>
                <a href="/logout" class="nav-link">退出</a>
                <a href="#"><button class="nav-button">关于我们</button></a>
            </p>
        </div>
        {% else %}
        <div class="nav-div">
            <a href="/login" class="nav-link">登录</a>
            <a href="/register" class="nav-link">注册</a>
            <a href="#"><button class="nav-button">关于我们</button></a>
        </div>
        {% endif %}
    </div>
</nav>
<div class="container-fluid">
    <div class="div-outer">
        {% if user %}
        <div class="div-left">
        {% block sidebar %}{% endblock %}
        </div>
        <div class="div-right">
        {% endif %}
        {% if err %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            <strong>{{ err }}</strong>
        </div>
        {% endif %}
        {% if info %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            <strong>{{ info }}</strong>
        </div>
        {% endif %}
        {% block content %}{% endblock %}
        {% if user %}
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>