{% extends "base.html" %}

{% block header %}登录{% endblock %}

{% block script %}
function pwck(){
    if($("#name").val().length==0){
        alert("未输入用户名!");
    }
    else if($("#pw").val().length==0){
        alert("未输入密码!");
    }
    else return true;
    return false;
}
{% endblock %}

{% block content %}
<form class="form-horizontal container-fluid" method="POST" onsubmit="return pwck()">
    {% csrf_token %}
    <div class="row">
        <div class=" col-md-6 col-md-offset-3">
            <div class="form-group">
                <label>用户名</label>
                <input type="text" class="form-control" name="name" id="name">
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password" class="form-control" name="pw" id="pw">
            </div>
            <label><input type="checkbox" name="remember">记住我</label>
            <center>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">登录</button>
                    <a class="btn btn-default" href="#">忘记密码</a>
                </div>
            </center>
        </div>
    </div>
</form>
{% endblock %}