{% extends "base.html" %}

{% block head %}
<style>
    span{
        color:#FF0000;
    }
</style>
{% endblock %}

{% block header %}注册{% endblock %}


{% block script %}
$(document).ready(function(){
    $("body").css({"background":"none"});
})
function pwck(){
    if($("#name").val().length==0){
        $(".text-err").text("未输入用户名！");
    }
    else if($("#email").val().length==0){
        $(".text-err").text("未输入邮箱！");
    }
    else if($("#pw").val().length==0){
        $(".text-err").text("未输入密码！");
    }
    else if($("#pwr").val()!=$("#pw").val()){
        $(".text-err").text("两个输入的密码不一致！");
    }
    else return true;
    return false;
}
{% endblock %}

{% block content %}
<br><br><br>
<form class="form-horizontal container-fluid" method="POST" onsubmit="return pwck()">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label>用户名<span> *</span></label>
                <input type="text" class="form-control" name="name" id="name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label>真实姓名</label>
                <input type="text" class="form-control" name="real" id="real">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label>邮箱<span> *</span></label>
                <input type="text" class="form-control" name="email" id="email">
            </div>
            <div class="form-group">
                <label>密码<span> *</span></label>
                <input type="password" class="form-control" name="pw" id="pw">
            </div>
            <div class="form-group">
                <label>确认密码<span> *</span></label>
                <input type="password" class="form-control" id="pwr">
            </div>
        </div>
    </div>
    <p class="text-err"align="center"></p>
    <button type="submit" class="mybutton-prim center-block">注册</button>
</form>
{% endblock %}