

        <div class="a" id="all" role="tablist" aria-multiselectable="true">
            <div>&nbsp;</div>
            <!--<a href="/platform/" class="list-group-item">网络课堂</a>-->
                <div id="one" role="tab">
                <div id="heading1" class="side-heading text-hei-gray side-heading-in" role="button" href="/platform/" >
                    <img id="img11" class="img" src="/static/image/course_selected.gif">
                    网络课堂
                </div>
                    <div id="list1" class="panel-collapse collapse in" role="tabpanel"aria-expanded="true">
                        <ul class="list-group">
                            <a class="list-group-item text-hei-gray" href="/platform">课程列表</a>
                            <a class="list-group-item text-hei-gray" href="/platform/upload">课程上传</a>
                        </ul>
                    </div>
            </div>
                            <!--<a href="/jobs/" class="list-group-item">作业管理</a>-->
                <div id="five" role="tab">
                    <div id="heading5" class="side-heading text-hei-gray" role="button" >
                        <img id="img50" class="img" src="/static/image/job.gif">
                        <img id="img51" class="img" src="/static/image/job_selected.gif">
                        作业管理
                    </div>
                    <div id="list1" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                        <ul class="list-group">
                            <a class="list-group-item text-hei-gray" href="/jobs/submit">作业提交</a>
                            <a class="list-group-item text-hei-gray" href="/jobs">作业查看</a>
                        </ul>
                    </div>
                </div>
                <!--<a href="/user/" class="list-group-item">用户管理</a>-->
            <div id="two" role="tab">
                 <div id="heading2" class="side-heading text-hei-gray" role="button">
                     <img id="img20" class="img" src="/static/image/user.gif">
                     <img id="img21" class="img" src="/static/image/user_selected.gif">
                     用户管理
                 </div>
                 <div id="list2" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                 <ul class="list-group">
                    <a class="list-group-item text-hei-gray" href="/user/">个人资料</a>
                    <a class="list-group-item text-hei-gray" href="/user/edit/">资料修改</a>
                    {% if user.super %}
                    <a class="list-group-item text-hei-gray" href="/user/list/">用户列表</a>
                    <a class="list-group-item text-hei-gray" href="/user/verify/">待审核用户</a>
                    {% endif %}
                 </ul>
                 </div>
            </div>
                <!--<a href="/data/iv_record/" class="list-group-item">数据管理</a>-->
                <div id="three" role="tab">
                <div id="heading3" class="side-heading text-hei-gray" role="button">
                    <img id="img30" class="img" src="/static/image/data.gif">
                    <img id="img31" class="img" src="/static/image/data_selected.gif">
                    数据管理
                </div>
                <div id="list3" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
                <ul class="list-group">
                    <a href="/data/iv_record/" class="list-group-item text-hei-gray">原始交易记录</a>
                    <a href="/data/iv_index/" class="list-group-item text-hei-gray">隐含波动率</a>
                    <a href="/data/interest_rate/" class="list-group-item text-hei-gray">利率</a>
                    <a href="/data/yield_rate/" class="list-group-item text-hei-gray">收益率</a>
                    <a href="/data/download/" class="list-group-item text-hei-gray">数据下载</a>
                </ul>
            </div>
                </div>
                <!--<a href="/apps/" class="list-group-item">应用管理</a>-->
                <div id="four" role="tab">
                <div id="heading4" class="side-heading text-hei-gray" role="button">
                    <img id="img40" class="img" src="/static/image/app.gif">
                    <img id="img41" class="img" src="/static/image/app_selected.gif">
                    应用管理
                </div>
                    <div id="list4" class="panel-collapse collapse" role="tabpanel"aria-expanded="true">
                        <ul class="list-group">
                        <a class="list-group-item text-hei-gray" href="/apps">应用列表</a>
                        <a class="list-group-item text-hei-gray" href="/apps/deploy">应用部署</a>
                        <a class="list-group-item text-hei-gray" href="/apps/host">主机管理</a>
                        </ul>
                    </div>
            </div>
        </div>