{% extends "base.html" %}

{% block header %}
文件上传
{% endblock %}

{% block sidebar %}
{% include "apps/sidebar.html" %}
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" action="/platform/upload/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="file">选择要上传的文件</label>
            <input type="file" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-default btn-lg">提交</button>
    </form>
{% endblock %}
