nav{
    margin: 0px 0px auto;
    width: 100%;
    height: 100px;
    background: rgb(0,130,222);
}


.nav-text{
    position:absolute;
    left:480px;
    top:45px;
}

.nav-div{
    float: right;
    margin:45px;
}

.nav-link{
    margin-right: 30px;
    color: white;
    font-family: "微软雅黑",Microsoft Yahei;
}

.nav-link:hover{
    color:gainsboro;
    text-decoration: none;
}

.nav-button{
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-family: "微软雅黑",Microsoft Yahei;
    margin-right: 70px;
}

.nav-button:hover{
    background: white;
    color: rgb(0,130,222);
}

.logo{
    position: absolute;
    left: 100px;
    top: 20px;
}

.page-header{
    margin-top:0px;
}

td{
    vertical-align: middle !important;
}

.text-hei-large{
    color: white;
    font-size: x-large;
    font-family: "微软雅黑",Microsoft Yahei;
    font-weight: bold;
}

.text-hei-black{
    color: black;
    font-family: "微软雅黑",Microsoft Yahei;
    font-weight: bold;
}

.text-hei{
    color: white;
    font-family: "微软雅黑",Microsoft Yahei;
    font-weight: bold;
}

.text-song-large{
    color: white;
    font-size: large;
    font-family: "宋体", STSong;
}

.text-song-small{
    color: rgb(131,136,146);
    font-size: small;
    font-weight: lighter;
    font-family: "宋体", STSong;
}

.text-err{
    color: red;
    font-size: x-small;
    font-weight: lighter;
    font-family: "宋体", STSong;
}

.mybutton{
    width: 90px;
    height: 30px;
    background: white;
    border: 0px;
    box-shadow: 1px 1px 4px rgb(131,136,146);
    border-radius: 5px;
    color: rgb(131,136,146);
    font-family: "微软雅黑",Microsoft Yahei;
}

.mybutton-prim{
    width: 90px;
    height: 30px;
    background: rgb(0,130,222);
    border: 0px;
    box-shadow: 1px 1px 4px rgb(131,136,146);
    border-radius: 5px;
    color: white;
    font-family: "微软雅黑",Microsoft Yahei;
}

.inputText{
    width: 200px;
    height: 34px;
    border: 0px;
    box-shadow: 1px 1px 4px rgb(131,136,146);
    border-radius: 5px;
}

div.panel-heading:hover{ background: #0066cc }
div.panel-heading{
    background: #FFFFFF !important;
    color:#000000 !important;
    border-style: solid !important;
    border-width: 1px;
    border-color: #bdbdbd
}
div.panel ul.list-group a.list-group-item{ background: #d0d0d0 !important;}
.a{
    background: #d0d0d0;
    height: 1000px;
    width:200px;
}
