{% extends "base.html" %}
{% block header %}
个人信息
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block content %}
<div>
    <div id="blank"></div>
    <div class="page-header">
        <h1>个人资料</h1>
    </div>
    <div>
        <table class="table table-bordered" width="800" >
            <tr >
                <td width="200">用户名</td><td width="200">{{ u.username }}</td>
                <td width="200">姓名</td><td width="200">{{ u.firstname }}</td>
            </tr>
            <tr>
                <td width="200">e-mail</td><td colspan="3">{{ u.email }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}