{% extends "base.html" %}
<head>
<link rel="stylesheet" type="text/css" href="user.css" />
</head>
{% block header %}
个人信息
{% endblock %}

{% block sidebar %}
{% include "user/sidebar.html" %}
{% endblock %}

{% block content %}
<div>
    <div id="blank"></div>
    <div class="page-header">

        <h1>个人资料</h1>
    </div>
    <div>
        <table class="table table-bordered" width="800" >
            <tr >
                <td width="200">user name</td><td width="200">{{ user.name }}</td>
                <td width="200"> name  </td><td width="200">{{ user.firstname }}&nbsp;</td>
            </tr>
            <tr>
                <td width="200">    e-mail</td><td colspan="3">{{ email }}&nbsp;</td>
            </tr>
        </table>
    </div>
    <div>

    </div>
</div>
{% endblock %}