{% extends "base.html" %}

{% block header %}
用户列表
{% endblock %}

{% block sidebar %}
{% include "user/sidebar.html" %}
{% endblock %}


{% block content %}
    <div class="page-header">
        <h1>用户列表</h1>
    </div>
    <div>
        <table class="table table-bordered table-hover">
            <tr>
                <td>用户名</td>
                <td>e-mail</td>
            </tr>
            {% for aa in item %}
                <tr>
                    {% csrf_token %}

                    <td><a href="/user/{{ aa.id }}/">{{ aa.username }}</a></td>
                    <td>{{ aa.email }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>


{% include "pagination.html" %}
{% endblock %}