
            <div class="panel panel-primary">
                <div class="panel-heading">
                    用户管理
                </div>
                <ul class="list-group">
                    <a class="list-group-item" href="/user/">个人资料</a>
                    <a class="list-group-item" href="/user/edit/">资料修改</a>
                    {% if super %}
                    <a class="list-group-item" href="/user/list/">用户列表</a>
                    <a class="list-group-item" href="/user/verify/">待激活用户</a>

                    {% endif %}
                </ul>
            </div>
            <ul class="list-group">
                <a class="list-group-item">作业管理</a>
            </ul>
            <ul class="list-group">
                <a class="list-group-item">数据管理</a>
            </ul>
            <ul class="list-group">
                <a class="list-group-item">应用管理</a>
            </ul>