

            <ul class="list-group">
                <a href="/user/" class="list-group-item">用户管理</a>
            </ul>
            <ul class="list-group">
                <a href="/jobs/" class="list-group-item">作业管理</a>
            </ul>
            <div class="panel panel-primary">
                <div class="panel-heading">数据管理</div>
                <ul class="list-group">
                    <a href="/data/iv_record/" class="list-group-item">原始交易记录</a>
                    <a href="/data/iv_index/" class="list-group-item">隐含波动率</a>
                    <a href="/data/interest_rate/" class="list-group-item">利率</a>
                    <a href="/data/yield_rate/" class="list-group-item">收益率</a>
                    <a href="/data/download/" class="list-group-item">数据下载</a>
                </ul>
            </div>
            <ul class="list-group">
                <a href="/apps/" class="list-group-item">应用管理</a>
            </ul>