{% extends "apps/apps_deploy.html" %}

{% block content %}

<form class="form-horizontal container-fluid" action="/apps/modify/{{ app_i.id }}/" method="POST" onsubmit="return check()">
    {% csrf_token %}

    <div class="form-group" id="info">
        <h1>{{ app_i.name }}</h1>
    <label for="app_name">应用名称</label>
    <input name="name" class="form-control" type="text" id="app_name" value="{{ app_i.name }}" maxlength="30">
    <br />
    <label for="app_host">主机</label>
    <select name="host" class="form-control" id="app_host">
    {% for x in host %}
        <option>{{ x.name }} ({{ x.id }})</option>
    {% endfor %}
    </select>
    <br />
    <label for="app_path">路径</label>
    <input name="path" class="form-control" type="text" id="app_path" value="{{ app_i.path }}">
    <br />
    <label for="app_description">应用描述</label>
    <textarea name="description" class="form-control" rows="3" id="app_description" maxlength="200">{{ app_i.desc }}</textarea>
     <br />
    </div>
    <table name="arglist" class="table table-hover" id="tab" align="center" style="margin-top:20px">
        <tr>
            <td>序号</td>
            <td>参数名称</td>
            <!--td>arg specify</td-->
            <td>值</td>
            <td>允许空值</td>
            <td>删除</td>
            <td>插入</td>
       </tr>
        {% for p in param_i %}
            <tr id="{{ p.order }}">
                <td>{{ p.order }}</td>
                {% if p.name == "" %}
                    <td><input  class='form-control' id="argname{{ p.order }}" name="argname{{ p.order }}" value="{{ p.name }}" maxlength="50" readonly="true"></td>
                {% else %}
                    <td><input  class='form-control' id="argname{{ p.order }}" name="argname{{ p.order }}" value="{{ p.name }}" maxlength="50"></td>
                {% endif %}
                <td><input class='form-control' id="value{{ p.order }}" name="value{{ p.order }}" value="{{ p.value }}" maxlength="200"></td>
                {% if p.blank  == True %}
                    <td><select class='form-control' id="blank{{ p.order }}" name="blank{{ p.order }}"><option>否</option><option selected>是</option></select></td>
                {% else %}
                    <td><select class='form-control' id="blank{{ p.order }}" name="blank{{ p.order }}"><option>否</option><option>是</option></select></td>
                {% endif %}
                {% if p.name  == "" %}
                    <td><select class='form-control' id="static{{ p.order }}" name="static{{ p.order }}"><option>否</option><option selected>是</option></select></td>
                {% else %}
                    <td><select class='form-control' id="static{{ p.order }}" name="static{{ p.order }}"><option>否</option><option>是</option></select></td>
                {% endif %}

                <td><a href="javascript:void(0)" onclick="deltr({{ p.order }})">删除</a></td>
                <td><a href="javascript:void(0)" onclick="ins_above_cur({{ p.order }})">插入</a></td>
            </tr>
        {% endfor %}
    </table>

    <div>
        <input name="delete" type="hidden" value="False">
        <input name="arg_len" type="hidden" id="length" value="0">
        <table class="table">
        <tr>
            <td align="right" colspan="2"><button type="button" class="btn btn-default" id="but">添加参数</button></td>
        </tr>
        <tr>
            <td align="right" ><button type="submit" class="btn btn-primary btn-lg">重新部署</button></td>
            <td align="left"><a href="/apps/delete/{{ app_i.id }}" class="btn btn btn-danger btn-lg">删除应用</a></td>
        </tr>
        </table>
    </div>
</form>
{% endblock %}