

            <ul class="list-group">
                <a class="list-group-item">用户管理</a>
            </ul>
            <ul class="list-group">
                <a class="list-group-item">作业管理</a>
            </ul>
            <ul class="list-group">
                <a class="list-group-item">数据管理</a>
            </ul>
            <div class="panel panel-primary">
                <div class="panel-heading">应用管理</div>
                <ul class="list-group">
                    <a class="list-group-item">应用列表</a>
                    <a class="list-group-item">应用部署</a>
                </ul>
            </div>