{% extends "base.html" %}

{% block header %}
作业查看
{% endblock %}

{% block script %}
{% endblock %}

{% block sidebar %}
{% include "jobs/sidebar.html" %}
{% endblock %}

{% block content %}
{% if job %}
<div class="page-header">
    <h1>作业详情</h1>
</div>
<table class="table">
    <tr>
        <th>提交时间</th>
        <td>{{ job.add_time }}</td>
    </tr>
    <tr>
        <th>应用名称</th>
        <td>{{ job.app.name }}</td>
    </tr>
    <tr>
        <th>作业状态</th>
        {% if job.status == -2 %}
        <td>错误</td>
        {% elif job.status == -1 %}
        <td>停止</td>
        {% elif job.status == 0 %}
        <td>完成</td>
        {% elif job.status == 1 %}
        <td>等待</td>
        {% else %}
        <td>运行</td>
        {% endif %}
    </tr>
    <tr>
        <th>开始时间</th>
        {% if job.start_time %}
        <td>{{ job.start_time }}</td>
        {% else %}
        <td>/</td>
        {% endif %}
    </tr>
    <tr>
        <th>结束时间</th>
        {% if job.end_time %}
        <td>{{ job.end_time }}</td>
        {% else %}
        <td>/</td>
        {% endif %}
    </tr>
    <tr>
        <th>作业参数</th>
        <td>{{ job.cmd }}</td>
    </tr>
    <tr>
        <th>运行结果</th>
        <td><pre>{{ result }}</pre></td>
    </tr>
</table>
{% endif %}
{% endblock %}