

            <ul class="list-group">
                <a class="list-group-item">用户管理</a>
            </ul>
            <div class="panel panel-primary">
                <div class="panel-heading">作业管理</div>
                <ul class="list-group">
                    <a class="list-group-item" href="/jobs/submit">作业提交</a>
                    <a class="list-group-item" href="/jobs">作业查看</a>
                </ul>
            </div>
            <ul class="list-group">
                <a class="list-group-item">数据管理</a>
            </ul>
            <ul class="list-group">
                <a class="list-group-item">应用管理</a>
            </ul>