{% extends "base.html" %}

{% block header %}
作业提交
{% endblock %}

{% block script %}
{% endblock %}

{% block sidebar %}
{% include "jobs/sidebar.html" %}
{% endblock %}

{% block content %}
{% if app %}
<div class="page-header">
    <h1>{{ app.name }}</h1>
</div>
<form class="form-horizontal" action="" method="POST">
{% csrf_token %}
    <input type="hidden" value="{{ app.id }}" name="id">
  {% for param in params %}
  <div class="form-group">
    <label class="col-sm-4 control-label">{{ param.name }}</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="{{ param.order }}" value="{{ param.value }}">
    </div>
    {% if not param.blank %}
        <span> *</span>
    {% endif %}
  </div>
  {% endfor %}
  <center>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">提交</button>
      <button type="reset" class="btn btn-default">重置</button>
    </div>
  </center>
</form>
{% endif%}
{% endblock %}